
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

.env


sessions/
*.dsk.session


*.log
*.pid
*.sock
*.env.*
docker-compose.override.yml
*.tar
*.tmp


.vscode/
.idea/
*.iml


.DS_Store
Thumbs.db
desktop.ini


videos/
photos/


logs/
*.log
